body
{
   background-image: url(travel\ agency.jpg);
   background-size: cover;
}

#Travel-x
{
    display: inline-block;
    color: rgb(0, 10, 0);
    font-size: 30px;
    letter-spacing: 2px;
   
}
#register a
{
    
    
    display: inline-block;
    color: rgba(0, 0, 01);
    border: 2px double red;
    padding: 7px;
    border-radius: 10px;
    font-size: 25px;
    transition: all;
    transition: 0.4px;
    background-color: aqua;
    
}
#register a:hover
{
    background-color: chocolate;
    font-size: 30px;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1);
    
    
}
 a{ 
    text-decoration: none;
    margin-right: 20px;
    color: rgb(0,0, 0);
    font-size: 25px;
    position: relative;
    border-bottom: 1px dotte green;
}
a:hover
{
    background:skyblue;
}
nav{
    
    top:10px;
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: space-between;
    
  
}
.patna ::before
{ 
    content: ' ';
    top:0;
    bottom: 0;
    height: 100%;
  border-image:url(adi.jpg) 2px solid red;
}




#enjoy
{   font-size: 40px;
    letter-spacing: 3px;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;

    
}
#ind
{
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;

    

   
}
#book
{  
    border: 2px solid indianred;
    color: pink;
   background-color: indianred;
   padding: 15px 25px;
   letter-spacing: 5px;position: absolute;
   top: 90%;
   left: 50%;
   max-width: 650px;
   transform: translate(-50%,-50%);
   text-align: center;
   transition: all;

   
    
}
#book:hover{
    font-size: 50px;
   
}
#image
{
    position: absolute;
    bottom: 0px;
}
#aeroplane
{    
    position: absolute;
    top: 80%;
    right: 10%;
    animation: aeroplane;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes aeroplane
{
    from{transform: translate(0px);}
    to{transform: translate(-1500px);}
}

